<div class="column is-half">
	<% if user_signed_in? %>
		<article class="media box">
			<figure class="media-left">
				<p class="image is-64x64">
					<%= gravatar_image_tag(current_user.email, size: 64, alt: current_user.name)%>
				</p>
			</figure>
			<div class="media-content">
				<div class="content">
					<%= render 'tweets/form' %>
				</div>
			</div>
		</article>
	<% end %>

	<% @tweets.each do |tweet| %>
		<div class="box">
			<article class="media">
				<div class="media-left">
					<figure class="image is-64x64">
						<%= gravatar_image_tag(tweet.user.email, size: 64, alt: tweet.user.email)%>
					</figure>
				</div>

				<div class="media-content">
					<div class="content">
						<strong><%= tweet.user.name %></strong>
						<small>@<%= tweet.user.username %></small>
						<p><%= tweet.tweet %></p>
					</div>
					
					<% if user_signed_in? %>
						<% if current_user.id == tweet.user.id %>
					<div class="level">
						<div class="level-left is-mobile">
							<%= link_to tweet, class: "level-item" do %>
								<span class="fa fa-link"></span>
							<% end %>

							<%= link_to edit_tweet_path(tweet), class: "level-item" do %>
								<span class="fa fa-edit"></span>
							<% end %>

							<%= link_to tweet, method: :delete, data: { confirm: "Você tem certeza que deseja deletar este tweet?"} do %>
								<span class="fa fa-trash"></span>
							<% end %>
						</div>
					</div>
						<% end %>
					<% end %>
				</div>
			</article>
		</div>
	<% end %>
</div>