<div class="column">
	<nav class="panel">
		<p class="panel-heading" style="text-align: center; font-weight: bold;">Who to Follow <i class="fa fa-user-plus" style="color: #42C7F9;"></i>	 </p>
		<% @tweets.each do |randomuser| %>
			<div class="panel-block">
				<div class="media">
					<figure class="media-left">
						<p class="image is-32x32">
							<%= gravatar_image_tag(randomuser.user.email, alt: randomuser.user.email)%>
						</p>
					</figure>
					<div class="media-content">
						<strong><%= randomuser.user.name %></strong>
						<small>@<%= randomuser.user.name %></small>
					</div>
				</div>
			</div>
		<% end %>
	</nav>
	<nav class="panel">
		<p style="text-align: center; font-weight: bold;" class="panel-heading">Popularity <i class="fa fa-users" style="color: #42C7F9;"></i></p>
		<% @tweets.each do |randomuser| %>
			<div class="panel-block">
				<div class="media">
					<figure class="media-left">
						<p class="image is-32x32">
							<%= gravatar_image_tag(randomuser.user.email, alt: randomuser.user.email)%>
						</p>
					</figure>
					<div class="media-content">
						<strong><%= randomuser.user.name %></strong>
						<small>@<%= randomuser.user.name %></small>
					</div>
				</div>
			</div>
		<% end %>
	</nav>
		<div class="panel">
			<p class="panel-heading" style="font-weight: bold; text-align: center;">Contributor</p>
			<div class="panel-block">
				<div class="media">
					<figure class="media-left">
						<p class="image is-128x128">
							<%= image_tag('https://media1.tenor.com/images/0af2a5096d6b358e8b63a0d4b7b18617/tenor.gif?itemid=12263255')%>
						</p>
					</figure>
					<div class="media-content">
						<br>
						<div class="panel">
							<p class="panel-heading" style="text-align: center;"><i class="fa fa-id-badge"></i></p>
							<div class="panel-block">
								<div class="content">
									<strong>Felipe Austríaco</strong>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<strong><a style="font-size: 23pt; color: black;" href="https://github.com/w1redl4in"><i class="fa fa-github"></i></a>&nbsp;&nbsp;
									<strong><a style="font-size: 23pt; color: #F7682D;" href="https://gitlab.com/w1redl4in"><i class="fa fa-gitlab"></i></a><br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<strong><a style="font-size: 23pt; color: #0077B5;" href="https://www.linkedin.com/in/felipe-austr%C3%ADaco-0794b514a/"><i class="fa fa-linkedin"></i></a>&nbsp;&nbsp;
									<strong><a style="font-size: 23pt; color: red;" href="https://www.youtube.com/channel/UC6Z6YQtuLUEZqPqTJ4Jfywg?view_as=subscriber"><i class="fa fa-youtube"></i></a>		
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>
</div>