<p id="notice"><%= notice %></p>

<section>
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-4">
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<h2 class="title">Your tweet</h2>
				<div class="panel">
					<div class="panel-block">
						<div class="media">
							<figure class="media-left">
								<p class="image is-128x128">
									<%= gravatar_image_tag(@tweet.user.email)%>
								</p>
							</figure>
							<div class="media-content">
								<div class="content">
									<strong><%= link_to current_user.name, edit_user_registration_path %></strong><br>
									<small>@<%= @tweet.user.username %></small><br><br>
									<p><%= @tweet.tweet %></p>
									<div class="level">
										<div class="level-left is-mobile">

											<%= link_to edit_tweet_path(@tweet), class: "level-item" do %>
												<span class="fa fa-edit"></span>
											<% end %>

											<%= link_to @tweet, method: :delete, data: { confirm: "Você tem certeza que quer deletar este tweet?"} do %>
												<span class="fa fa-trash"></span>
											<% end %>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
