<div class="container">
	<div class="columns is-centered">
		<div class="column is-5">
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<h2 class="title is-2">Perfil</h2>
			<div class="panel">
				<div class="panel-block">
					<div class="media">
						<figure class="media-left">
							<p class="image is-128x128">
								<%= gravatar_image_tag(current_user.email)%>
							</p>
						</figure>
						<div class="media-content">
							<div class="content">
								<br>
								<strong  class="title is-5">Nome: </strong><%= current_user.name %><br>
								<strong class="title is-5">Usuario: </strong><%= current_user.username %><br>
								<strong class="title is-5">E-mail:</strong><%= current_user.email %><br>
								<strong class="title is-5">Tweet: </strong><%= current_user.tweets.count%><br><br>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
