<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notification is-primary global-notification">
        <p class="notice">
          <button style="position: relative; float: right;" class="delete"></button>
          <%= notice %>
        </p>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="notification is-primary global-notification">
        <p class="alert" id="a"><%= alert %></p>
      </div>
    <% end %>
  
    <nav class="navbar is-info">
      <div class="navbar-brand">
        <%= link_to root_path, class: "navbar-item" do %>
          <h1 class="title is-four">Twitter&nbsp;<span class="fa fa-twitter"></span></h1>
        <% end %>
        <div class="navbar-burger burger" data-target="navbarExample">
        </div>
      </div>  

      <div id="navbarExample" class="navbar-menu">
        <div class="navbar-end">
          <div class="field is-grouped">            
            <% if !user_signed_in? %>
            <p style="position: relative; margin-top: 6.5px; margin-right: 4px;" class="control"><%= link_to 'Sign Up', new_user_registration_path, class: "button is-info is-inverted" %></p>

            <p style="position: relative; margin-top: 6.5px; margin-right: 4px;" class="control button is-info is-inverted"><%= link_to 'Sign In', new_user_session_path, class: "control button is-info is-inverted"%></p>

            <% else %>
            <p style="position: relative; margin-top: 6.5px; margin-right: 4px;" class="control button is-info is-inverted"><%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "button control is-info is-inverted" %></p>
            <% end %>
          </div>
        </div>
      </div>
    </nav> 
    <%= yield %>
  </body>
</html>
